<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">  
  
<hibernate-configuration>  
  
    <session-factory>  
        <property name="hbm2ddl.auto">update</property>  
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>  
        <property name="connection.url">jdbc:postgresql://ec2-50-19-236-35.compute-1.amazonaws.com:5432/d3efg1k3398csk</property>  
        <property name="connection.username">esrdxbdezdqqty</property>  
        <property name="connection.password">mxYdiTWyFTOPWOOIWN6DtgzT5K</property>  
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>  
    <mapping resource="DataBase/user.hbm.xml"/> 
    <mapping resource="DataBase/medicine.hbm.xml"/> 
    <mapping resource="DataBase/study.hbm.xml"/> 
    <mapping resource="DataBase/studyType.hbm.xml"/> 
    <mapping resource="DataBase/userMedicine.hbm.xml"/>
    <mapping resource="DataBase/medicalShift.hbm.xml"/>
    <mapping resource="DataBase/userTreatment.hbm.xml"/>
    <mapping resource="DataBase/room.hbm.xml"/>
    <mapping resource="DataBase/floor.hbm.xml"/>
    <mapping resource="DataBase/doctorPatient.hbm.xml"/>
    <mapping resource="DataBase/bed.hbm.xml"/>
    </session-factory>  
  

</hibernate-configuration>  
